/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-200 scroll-smooth;
  }
}

/* Layout admin grid */
#layout-admin {
  display: grid;
  grid-template-columns: 250px 1fr;
  transition: all 300ms;
}

/* When sidebar is collapsed */
#layout-admin.sidebar-collapsed {
  grid-template-columns: 80px 1fr;
}

/* Hide THE text elements when collapsed */
.sidebar-collapsed #sidebar p,
.sidebar-collapsed #sidebar span,
.sidebar-collapsed #sidebar h1 {
  display: none;
}

/* Center sidebar items when collapsed */
.sidebar-collapsed #sidebar ul li {
  justify-content: center;
}

.sidebar-collapsed #sidebar ul li svg {
  margin: auto;
}

.add-to-cart-or-buy {
  padding: 1.75rem; /* p-7 */
  display: flex;
  flex-direction: column;
  gap: 1rem; /* space-y-4 equivalent */
}

.add-to-cart-or-buy > * {
  display: flex;
  flex-direction: column;
}