<footer class="[&>*]:text-white w-full grid grid-cols-2 grid-rows-1 gap-x-5 min-h-fit p-5 bg-slate-800">
        <div class="left-section">
            <h2>MeToYou</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
                impedit accusamus voluptates. Praesentium ratione.
            </p>
            <button type="button">Back To Top</button>
        </div>

        <div class="flex flex-col">
            <h4>Site Map</h4>
            <a href="/pages/auth.html?type=login">Login or Register</a>
            <a href="/pages/account.html">My Account</a>
            <a href="/pages/about.html">About Us</a>
        </div>
    </footer>
    <div class="bg-red-500 w-full h-fit flex flex-row items-center">
        Copyright © 2026 Me2You.co.za
    </div>