            <div class="mx-auto my-0 w-3/4 md:w-full h-screen bg-white flex flex-col border-x-2 border-black">

                <!-- Header Gives the recievers name -->
                <div class="w-full bg-darkgray h-12 p-2 shrink-0">
                    <span class="text-white font-semibold">Messaging Name</span>
                </div>

                <!-- Scroll Zone -->
                <div class="flex-1 overflow-y-auto md:p-10 space-y-6">

                    <div class="msg-block grid grid-cols-[1fr_4fr] grid-rows-[100px]">
                        <img src="/images/teruicon.jpg" class="rounded-full w-14" alt="img-icon">
                        <div class="bg-gray-400 w-full h-fit p-3">
                            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, culpa?</span>
                        </div>
                    </div>

                    <div class="msg-block grid grid-cols-[1fr_4fr] grid-rows-[100px]">
                        <img src="https://i.pinimg.com/1200x/56/25/f1/5625f1e4e9d531a6bf7d501f828cd368.jpg" class="rounded-full w-14" alt="img-icon">
                        <div class="bg-gray-400 w-full h-fit p-3">
                            <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit eum ex, odio dolores sed nihil a quibusdam et maiores voluptatibus exercitationem veritatis cum fugit, asperiores doloremque eius possimus tempora ducimus.</span>
                        </div>
                    </div>

                </div>

                <div class="mx-auto my-0 py-2 px-4 w-full grid grid-cols-[3fr_1fr] grid-rows-1">
                    <input type="text" placeholder="Type..." class="w-full p-2 outline-none border border-black">
                    <button aria-label="send" class="bg-darkgray"><i
                            class="fa-regular fa-paper-plane bg-darkgray text-white"></i></button>
                </div>

            </div>