<nav id="sidebar" class="flex flex-col space-y-4 bg-darkgray [&>*]:text-gray-100 p-6 [&>span]:text-lg h-full">
            <i id="menuToggle" class="fa-solid fa-bars fa-3x self-end"></i>
            <h1 class="text-2xl font-bold border-b border-white">Me2YouADMIN</h1>
            <span>Main Menu</span>

            <ul class="[&>*]:flex [&>*]:flex-row [&>*]:space-x-5 [&>*]:p-2">
                <li><a href="/admin/dashboard.html"><i class="fa-solid fa-chart-area hover:text-blue-500"></i></a><a href="/admin/dashboard.html"><p>Dashboard overview</p></a></li>
                <li><a href="/admin/reports.html"><i class="fa-solid fa-file hover:text-blue-500"></i></a><a href="/admin/reports.html"><p>View Reports</p></a></li>
                <li><a href="/admin/messages.html"><i class="fa-solid fa-message hover:text-blue-500"></i></a><a href="/admin/messages.html"><p>Messages</p></a></li>
                <li><a href="/admin/db.html"><i class="fa-solid fa-database hover:text-blue-500"></i></a><a href="/admin/db.html"><p>Database Tables</p></a></li>
                <li><i class="fa-solid fa-user hover:text-blue-500"></i><a href=""><p>Manage Users</p></a></li>
            </ul>


</nav>